/* This is the stylesheet for Patch */
html,body,header,nav,footer,div,h1,h2,h3,h4,h5,h6,ul,li,p {
    margin: 0;
    padding: 0; 
}
body{
    background-color:cornsilk; 
    font-family:"tahoma", sans-serif;
    color:black;
}
div#container{
    border: 2px dotted red;
    background-color: azure;
    width:1024px;
    height:auto;
    margin: auto;
}
div#container header{
    background-color: cadetblue;
    background-image: url(Images/metro.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    color: aquamarine;
    width: 100%;
    height: 130px;
    text-align: center;
}
div#container header h1{
    padding: 15px;
}
nav ul li {
    text-align: center;
    word-spacing: 80px;
}
nav ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color:crimson;
}
nav ul a{
    color:cornflowerblue;
    text-decoration: none;
    padding: 1px 16px;
} 
nav ul li a:hover{
    background-color: aquamarine;
} 
.active{
    background-color: azure;
}
div#content{
    display: block;
    width: auto;
    height: auto;
    padding: 10px;
}
h2{
    padding-left: 390px;
    width: 300px;
}
div#content p{
    margin: 5px; 
}
footer{
    padding-top: 20px;
    width: 100%;
    height:40px;
    color: white;
    background-color: black;
    text-align: center;
}
p3{
    font-style: italic;
}
div#fun{
    text-align: center;
}
ul#test{
    text-align: center;
}
div#gallery{
    width:auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
div#gallery .frame{
    background-color: antiquewhite;
    border: 2px solid black;
    float: left;
}
div#gallery .frame figcaption{
    text-align: center;
}
form fieldset{
    background-color: floralwhite;
}
form fieldset legend{
    border: 1px solid black;
    background-color: burlywood;
    font-weight: bold;
}
form input{
    margin: 5px 0px;
}
.keepOpen{
    clear:both;
}


video#cat{
    height: 300px;
    width: 198px;
}
img#green{
    height: 100px;
    width: 200px;
}
img#doom{
   height: 200px;
    width: 300px;
}
img#darksouls{
    height: 200px;
    width: 300px;
}
img#fallout{
    height: 200px;
    width: 300px;
}
img#xcom{
    height: 200px;
    width: 300px;
}
img#elder{
    height: 200px;
    width: 300px;
}
img#cod{
    height: 200px;
    width: 300px;
}
img#pro{
    height: 200px;
    width: 300px;
}
img#bf{
    height: 200px;
    width: 300px;
}
img#halo{
    height: 200px;
    width: 300px;
}
img#postcard{
    width: 860px;
}
